
<!-- Esto es lo que se muestra al realizar login -->

<h1 class="text-center my-24 text-3xl">  !¡ </h1>
<p class="font-semibold">{{name}}</p>

<h1 class="text-center my-24 text-3xl">  ENCUESTA PARA DIAGNÓSTICO EXPLORATORIO LABORAL DIRIGIDO A PERSONAS TRAVESTIS, TRANSGÉNERO, TRANSEXUALES Y NO BINARIAS EN MÉXICO 2023 </h1>