<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Encuesta 2023</title> 

    <!-- Aqui se crea el menu de arriba -->

    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css">
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
  </head>
  <body class="bg-gray-100">
    <nav class="flex items-center justify-between flex-wrap bg-pink-600 p-6">
      <div class="flex items-center flex-shrink-0 text-white mr-6">
        <svg class="fill-current h-8 w-8 mr-2" viewBox="0 0 24 24">
          <path d="M12 0a12 12 0 0 0-12 12c0 6.627 5.373 12 12 12 6.627 0 12-5.373 12-12a12 12 0 0 0-12-12zm6 13h-5v5h-2v-5H6v-2h5V6h2v5h5v2z"/>
        </svg>
      <span class="font-semibold text-4xl tracking-tight">Encuesta diagnostico 2023</span>
      </div>


      <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        <div class="text-md lg:flex-grow">
          {{#if name}}
    
          {{/if}}
        </div>
        <div>
          {{#if name}}
          <span class="font-semibold text-4xl tracking-tight" style="color: #70c1fe; animation: blink 1s linear infinite;">!!! Encuesta contestada con exito, {{name}} ¡¡¡</span>

        {{else}}
      
        {{/if}}
        </div>
      </div>

    </nav>
    {{{body}}}
  </body>
</html>


<style>
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
</style>